.container {
    background-color: #f2f2f2;
    width: 30%;
    margin: auto;
    padding: 20px;
}

input[type=button], input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #408000;
}

@media screen and (max-width: 800px) {
    .container {
        width: 80%;
    }
}

#features {
    white-space: normal;
    overflow-y: auto;
}

#features option {
    font-family: 'FontAwesome', sans-serif;
    font-size: 16px;
}

#available-rooms {
    font-family: 'FontAwesome', sans-serif;
    font-size: 16px;
}

#available-rooms option {
    font-family: 'FontAwesome', sans-serif;
    font-size: 16px;
}

h1, h2 {
    text-align: center;
}

.menu a {
    background: #13AA52;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 13px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    display: block;
    margin-bottom: 15px;
}

.menu a:last-child {
    margin-bottom: 0;
}

.menu a:visited {
    color: white;
}

.menu a:hover {
    background-color: #408000;
}

i[class*=fa-calendar-alt]::before{
    background:transparent;
}

.input-group-prepend{
    width:40px!important;
}